.forgot-password-secton {
  width: 100%;
  margin: auto;
  h2 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    text-align: center;
    margin-top: 64px;
  }
  form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 16px;
    margin: auto;
    margin-top: 32px;

    input[type="email"] {
      padding: 12px 16px;
      border-radius: 8px;
      font-size: 16px;
      line-height: 18px;
    }
    button {
      width: 100%;
      padding: 8px 16px;
      border-radius: 6px;
      margin: auto;
      background-color: #60bb46;
      font-size: 16px;
      line-height: 24px;
      border: none;
      color: #fff;
      margin-top: 12px;
      &:hover {
        cursor: pointer;
        background-color: #0099fe;
        transition: 0.3s;
      }
    }
  }
}
