header {
  .header {
    width: 100%;
    background-color: #eb2b2b;
    // padding: 24px 0;
    .nav-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo-wrapper {
        display: flex;
        // padding-left: 16px;
        gap: 24px;
        .logo {
          height: 50px;
          padding: 8px;
          width: 118px;
          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
        ul {
          display: flex;
          align-items: center;
          gap: 32px;
          li {
            list-style: none;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -0.176px;

            a {
              text-decoration: none;
              color: #fff;
              text-transform: uppercase;
              &:hover {
                cursor: pointer;
                text-decoration: underline;
                transition: 0.3s;
              }
            }
          }
        }
      }
      .btn-wrapper {
        display: flex;
        gap: 80px;
        align-items: center;
        .signin-btn {
          width: fit-content;
          padding: 6px 12px;
          background-color: #ffffff;
          font-size: 14px;
          line-height: 16px;
          font-weight: 500;
          text-decoration: none;
          border-radius: 6px;
          text-transform: uppercase;
          color: red;
        }
        .profile {
          font-size: 32px;
          color: #fff;
          cursor: pointer;
          a {
            text-decoration: none;
          }
        }
      }
      .troggle-btn {
        display: flex;
        gap: 16px;
        .nav_close {
          font-size: 18px;
        }
      }
    }
  }
}
/* Default behavior: Navigation is visible */
// .nav-wrapper ul {
//   display: flex;
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }

/* Hide the navigation and show toggle button on smaller screens */
// @media (max-width: 776px) {
//   .nav-wrapper ul {
//     display: none;
//     flex-direction: column;
//     background-color: #fff;
//     position: absolute;
//     top: 50px;
//     right: 0;
//     width: 100%;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//   }

//   .nav-wrapper ul.active {
//     display: flex;
//   }

//   .toggle-btn {
//     display: block;
//     cursor: pointer;
//     font-size: 24px;
//   }
// }

/* Hide toggle button on larger screens */
.toggle-btn {
  display: none;
}
