header {
  .header {
    width: 100%;
    background-color: #eb2b2b;
    // padding: 24px 0;
    .nav-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // height: 150px;
      // margin-bottom: 20px;

      .logo-wrapper {
        display: flex;
        gap: 24px;
        .logo {
          height: auto;
          width: 200px;
          img {
            width: 100%;
          }
        }
        ul {
          display: flex;
          align-items: center;
          gap: 32px;
          li {
            list-style: none;

            a {
              text-decoration: none;
              color: #fff;
              text-transform: uppercase;
              &:hover {
                cursor: pointer;
                transition: 0.3s;
                background-color: #1221a6;
              }
            }
          }
        }
      }
      .btn-wrapper {
        display: flex;
        gap: 80px;
        align-items: center;
        .signin-btn {
          width: fit-content;
          padding: 10px 22px;
          background-color: #ffffff;
          font-size: 18px;
          line-height: 24px;
          font-weight: 600;
          text-decoration: none;
          border-radius: 8px;
          color: red;
        }
        .profile {
          font-size: 32px;
          color: #fff;
          cursor: pointer;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
