.add-blog-post {
  width: 100%;
  margin: auto;
  h2 {
    font-size: 32px;
    line-height: 36px;
    color: #000;
    font-weight: 700;
    text-align: center;
    color: red;
  }
  .post-wrapper {
    width: 100%;
    height: auto;
    padding: 16px 32px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid red;
    border-radius: 8px;
    margin-top: 16px;
    .input-label {
      display: flex;
      flex-direction: column;
      gap: 12px;
      label {
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
      }
      input[type="text"] {
        height: 30px;
        width: 100%;
        font-size: 16px;
        line-height: 16px;
      }
      textarea {
        height: auto;
      }
    }
    button {
      width: fit-content;
      padding: 12px 24px;
      background-color: red;
      border-radius: 8px;
      border: none;
      font-size: 16px;
      line-height: 18px;
      color: #fff;
      &:hover {
        background-color: green;
        cursor: pointer;
        transition: 0.3s;
      }
    }
  }
}
