.blog-section {
  width: 100%;
  margin: auto;
  padding: 12px 0;
  h2 {
    font-size: 32px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
  }
  .blog-wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    .cart-wrapper {
      width: 400px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      border: 1px solid black;
      padding: 12px;
      border-radius: 8px;
      .cart-image {
        width: 100%;
        height: 300px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      i {
        color: grey;
        span {
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          margin-left: 10px;
        }
      }
      a {
        text-decoration: none;
        color: #000000;
        h3 {
          font-size: 32px;
          line-height: 36px;
          font-weight: 700;

          &:hover {
            text-decoration: underline;
            color: #007000;
            cursor: pointer;
          }
        }
      }
      &:hover {
        transform: scale(1.02);
        transition: 0.3s;
      }
    }
  }
}
