.blog-listing-section {
  width: 100%;
  margin: auto;
  .current-post {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 40px;
      line-height: 44px;
      font-weight: 700;
      text-align: center;
      padding: 12px 0;
    }
    img {
      height: auto;
      width: 500px;
      margin: auto;
    }
    i {
      display: flex;
      gap: 12px;

      margin: auto;
      margin: 0 100px;
      span {
        font-size: 16px;
      }
    }
    p {
      font-size: 24px;
      line-height: 32px;
      padding: 16px 0;
      margin: auto;
      margin: 0 100px;
    }
  }
  .related-post {
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 16px;
    color: red;
  }
  .blog-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: auto;
    justify-content: center;

    .cart-wrapper {
      width: 400px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      border: 1px solid #000000;
      height: auto;
      padding: 12px;
      border-radius: 8px;
      margin-top: 16px;
      img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
      .related-icon {
        display: flex;
        gap: 12px;
        margin: 0;
      }
      a {
        text-decoration: none;
        color: #000000;
        h3 {
          font-size: 32px;
          line-height: 36px;
          font-weight: 700;
        }
        &:hover {
          cursor: pointer;
          text-decoration: underline;
          color: red;
          transition: 0.3s;
        }
      }
      &:hover {
        cursor: pointer;
        transform: scale(1.02);
        transition: 0.3s;
      }
    }
  }
}
