.manage-cart-wrapper {
  width: 100%;
  margin: auto;
  margin-top: 64px;

  .cart-wrapper {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 24px;
    .cart-user,
    .cart-donor,
    .cart-volunteer {
      padding: 56px 0;
      // background: #f46d43;
      color: #000;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      width: 300px;
      height: 150px;
      border-radius: 16px;
      h3 {
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        margin-top: 16px;
      }
      p {
        font-size: 56px;
        line-height: 18px;
        font-weight: 400;
        text-align: center;
        // padding: 10px 0;
      }
    }
  }
}
